@import "node_modules/font-awesome/css/font-awesome.css";
@import "node_modules/@typopro/web-source-sans-pro/TypoPRO-SourceSansPro.css";
@import "node_modules/@typopro/web-source-code-pro/TypoPRO-SourceCodePro.css";
@import "node_modules/@typopro/web-source-serif-pro/TypoPRO-SourceSerifPro.css";

body, button, input, select {  font-family: 'TypoPRO Source Sans Pro'; font-size: 100%; line-height: 140%; }
pre, code { font-family: 'TypoPRO Source Code Pro';  }

.hbox, .vbox {
  display: flex;
}
.hbox {
  flex-direction: row;
}
.vbox {
  flex-direction: column;
}
.grow {
  flex: 1;
}
.scroll {
  overflow: auto;
}
.fill {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
}
